{% extends 'layout.html' %} {% block content %}
<div>
        <title>Localizações</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>

    <h2>Localizações</h2>

    <table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data de Lançamento</th>
        <th>Código</th>
    </tr>
    <!-- Loop for para iterar sobre as localizações -->
    {% for location in locations %}
        <tr>
        <td>{{ location.id }}</td>
        <td>{{ location.name }}</td>
        <td>{{ location.created.split('T')[0] }}</td>
        <td>{{ location.url.split('/')[-1] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}


