{% extends 'layout.html' %} {% block content %}
<style>
  .top {
    margin-top: 30px;
  }
</style>

<div class="top">
  <center><h1>{{profile.name}}</h1></center>
  <br />
</div>

<div class="row">
  <div class="col-sm-3 col-6">
    <img
      src="{{profile.image}}"
      alt="{{profile.name}}"
      class="img-fluid img-thumbnail"
    />
  </div>
  <div class="col-sm-9 col-6">
    <p>falta add: origem, localização e episódios em que aparece!!</p>

    <p>
      <a href="/characters" class="btn btn-primary">Back</a>
    </p>
  </div>
</div>

{% endblock %}
